[Unit]
Description=NLS Control Hub
After=network.target

[Service]
ExecStart=/usr/local/bin/nls_controlhub --config /etc/nls_controlhub/config.toml
User=pi
WorkingDirectory=/home/pi/nhl-led-scoreboard
Restart=on-failure

RestartSec=5

# Output logging to journal (viewable via journalctl)
StandardOutput=journal
StandardError=sjournal
SyslogIdentifier=nls_controlhub

[Install]
WantedBy=multi-user.target
