[Unit]
Description=Setup timezone automatically based on IP address
ConditionPathExists=/home/pi/.nhlledportal/setTZ
After=multi-user.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/sbtools
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/bin/sh /home/pi/sbtools/autoset_tz.sh

[Install]
WantedBy=multi-user.target
