[Unit]
Description=Setup raspiwifi if wpa_supplicant.conf does not exist
ConditionPathExists=!/etc/cron.raspiwifi/apclient_bootstrapper
ConditionPathExists=!/etc/cron.raspiwifi/aphost_bootstrapper
After=raspberrypi-net-mods.service zram-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/raspiwifi/first_run.sh
ExecStartPost=/usr/bin/python3 /usr/lib/raspiwifi/configuration_app/app.py

[Install]
WantedBy=multi-user.target
