[Unit]
Description=Setup wifi on first boot with wifi connect
ConditionPathExists=!/etc/wificonnect/host_mode
#ConditionPathExists=!/etc/cron.raspiwifi/aphost_bootstrapper
After=raspberrypi-net-mods.service zram-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/wificonnect/first_run.sh

[Install]
WantedBy=multi-user.target
