# Enable wifi, even if no regulatory domain is set
#
# Supporting Comitup on Raspbios
# 
# copy to e.g. /etc/systemd/system/
# "systemctl enable wifi-on.service"

[Unit]
Description=Turn wifi on, regardless of regulatory domain
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli radio wifi on

[Install]
WantedBy=NetworkManager.service
