[Unit]
Description=Start Wireless AP Web Server
BindsTo=sb_raspiwifi.service
After=sb_raspiwifi.service network.target

[Service]
Restart=always
RestartSec=3
WorkingDirectory=/usr/lib/raspiwifi/configuration_app
ExecStart=/usr/bin/python3 /usr/lib/raspiwifi/configuration_app/app.py

[Install]
WantedBy=multi-user.target
